<a href="https://colab.research.google.com/github/vaibhavgupta2499/ColabWorks/blob/main/marvel_char.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('/content/drive/MyDrive/marvelCharactersDataset/charcters_stats.csv')

In [3]:
df

                Name Alignment  Intelligence  ...  Power  Combat  Total
0            3-D Man      good            50  ...     25      52    233
1             A-Bomb      good            38  ...     17      64    316
2         Abe Sapien      good            88  ...     35      85    299
3           Abin Sur      good            50  ...     84      65    406
4        Abomination       bad            63  ...     55      95    436
..               ...       ...           ...  ...    ...     ...    ...
606     Yellowjacket      good            88  ...     12      14    164
607  Yellowjacket II      good            50  ...     31      28    182
608             Ymir      good            50  ...     83      28    388
609          Zatanna      good            75  ...    100      56    292
610             Zoom       bad            50  ...     72      28    288

[611 rows x 9 columns]

In [4]:
for x in list(df.columns):
  print(x+' - '+str(df[x].isnull().sum()))

Name - 0
Alignment - 3
Intelligence - 0
Strength - 0
Speed - 0
Durability - 0
Power - 0
Combat - 0
Total - 0

In [5]:
df.Alignment.unique()

array(['good', 'bad', nan, 'neutral'], dtype=object)

In [6]:
df['Alignment'].fillna('neutral',inplace=True)

In [7]:
df['Alignment'].isnull().sum()

0

In [8]:
df.Alignment.unique()

array(['good', 'bad', 'neutral'], dtype=object)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          611 non-null    object
 1   Alignment     611 non-null    object
 2   Intelligence  611 non-null    int64
 3   Strength      611 non-null    int64
 4   Speed         611 non-null    int64
 5   Durability    611 non-null    int64
 6   Power         611 non-null    int64
 7   Combat        611 non-null    int64
 8   Total         611 non-null    int64
dtypes: int64(7), object(2)
memory usage: 43.1+ KB

In [10]:
df.describe()

       Intelligence    Strength       Speed  ...       Power      Combat       Total
count    611.000000  611.000000  611.000000  ...  611.000000  611.000000  611.000000
mean      44.502455   29.083470   27.306056  ...   40.312602   43.206219  226.250409
std       32.924722   32.610939   25.760173  ...   34.539910   33.270329  167.324034
min        1.000000    1.000000    1.000000  ...    0.000000    1.000000    5.000000
25%        1.000000    1.000000    1.000000  ...    0.000000    1.000000    5.000000
50%       50.000000   10.000000   23.000000  ...   37.000000   50.000000  255.000000
75%       75.000000   53.000000   42.000000  ...   67.000000   70.000000  351.500000
max      113.000000  100.000000  100.000000  ...  100.000000  101.000000  581.000000

[8 rows x 7 columns]