<a href="https://colab.research.google.com/github/vaibhavgupta2499/ColabWorks/blob/main/marvel_char.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('/content/drive/MyDrive/marvelCharactersDataset/charcters_stats.csv')

In [3]:
df

                Name Alignment  Intelligence  ...  Power  Combat  Total
0            3-D Man      good            50  ...     25      52    233
1             A-Bomb      good            38  ...     17      64    316
2         Abe Sapien      good            88  ...     35      85    299
3           Abin Sur      good            50  ...     84      65    406
4        Abomination       bad            63  ...     55      95    436
..               ...       ...           ...  ...    ...     ...    ...
606     Yellowjacket      good            88  ...     12      14    164
607  Yellowjacket II      good            50  ...     31      28    182
608             Ymir      good            50  ...     83      28    388
609          Zatanna      good            75  ...    100      56    292
610             Zoom       bad            50  ...     72      28    288

[611 rows x 9 columns]

In [6]:
for x in list(df.columns):
  print(x+' - '+str(df[x].isnull().sum()))

Name - 0
Alignment - 3
Intelligence - 0
Strength - 0
Speed - 0
Durability - 0
Power - 0
Combat - 0
Total - 0

In [8]:
df.Alignment.unique()

array(['good', 'bad', nan, 'neutral'], dtype=object)

In [9]:
df['Alignment'].fillna('neutral',inplace=True)

In [10]:
df['Alignment'].isnull().sum()

0

In [11]:
df.Alignment.unique()

array(['good', 'bad', 'neutral'], dtype=object)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          611 non-null    object
 1   Alignment     611 non-null    object
 2   Intelligence  611 non-null    int64
 3   Strength      611 non-null    int64
 4   Speed         611 non-null    int64
 5   Durability    611 non-null    int64
 6   Power         611 non-null    int64
 7   Combat        611 non-null    int64
 8   Total         611 non-null    int64
dtypes: int64(7), object(2)
memory usage: 43.1+ KB