<a href="https://colab.research.google.com/github/vaibhavgupta2499/ColabWorks/blob/main/marvel_char.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df=pd.read_csv('/content/drive/MyDrive/marvelCharactersDataset/charcters_stats.csv')

In [4]:
df

                Name Alignment  Intelligence  ...  Power  Combat  Total
0            3-D Man      good            50  ...     25      52    233
1             A-Bomb      good            38  ...     17      64    316
2         Abe Sapien      good            88  ...     35      85    299
3           Abin Sur      good            50  ...     84      65    406
4        Abomination       bad            63  ...     55      95    436
..               ...       ...           ...  ...    ...     ...    ...
606     Yellowjacket      good            88  ...     12      14    164
607  Yellowjacket II      good            50  ...     31      28    182
608             Ymir      good            50  ...     83      28    388
609          Zatanna      good            75  ...    100      56    292
610             Zoom       bad            50  ...     72      28    288

[611 rows x 9 columns]

In [5]:
for x in list(df.columns):
  print(x+' - '+str(df[x].isnull().sum()))

Name - 0
Alignment - 3
Intelligence - 0
Strength - 0
Speed - 0
Durability - 0
Power - 0
Combat - 0
Total - 0

In [6]:
df.Alignment.unique()

array(['good', 'bad', nan, 'neutral'], dtype=object)

In [7]:
df['Alignment'].fillna('neutral',inplace=True)

In [8]:
df['Alignment'].isnull().sum()

0

In [9]:
df.Alignment.unique()

array(['good', 'bad', 'neutral'], dtype=object)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          611 non-null    object
 1   Alignment     611 non-null    object
 2   Intelligence  611 non-null    int64
 3   Strength      611 non-null    int64
 4   Speed         611 non-null    int64
 5   Durability    611 non-null    int64
 6   Power         611 non-null    int64
 7   Combat        611 non-null    int64
 8   Total         611 non-null    int64
dtypes: int64(7), object(2)
memory usage: 43.1+ KB

In [11]:
df.describe()

       Intelligence    Strength       Speed  ...       Power      Combat       Total
count    611.000000  611.000000  611.000000  ...  611.000000  611.000000  611.000000
mean      44.502455   29.083470   27.306056  ...   40.312602   43.206219  226.250409
std       32.924722   32.610939   25.760173  ...   34.539910   33.270329  167.324034
min        1.000000    1.000000    1.000000  ...    0.000000    1.000000    5.000000
25%        1.000000    1.000000    1.000000  ...    0.000000    1.000000    5.000000
50%       50.000000   10.000000   23.000000  ...   37.000000   50.000000  255.000000
75%       75.000000   53.000000   42.000000  ...   67.000000   70.000000  351.500000
max      113.000000  100.000000  100.000000  ...  100.000000  101.000000  581.000000

[8 rows x 7 columns]

In [12]:
df.drop('Total',axis='columns',inplace=True)

In [13]:
df.head()

          Name Alignment  Intelligence  ...  Durability  Power  Combat
0      3-D Man      good            50  ...          32     25      52
1       A-Bomb      good            38  ...          80     17      64
2   Abe Sapien      good            88  ...          42     35      85
3     Abin Sur      good            50  ...          64     84      65
4  Abomination       bad            63  ...          90     55      95

[5 rows x 8 columns]

In [14]:
col=list(df.columns)
col.remove('Name')
col.remove('Alignment')
print(col)

['Intelligence', 'Strength', 'Speed', 'Durability', 'Power', 'Combat']

In [15]:
min_max_arr=[[0 for i in range(6)] for j in range(3)]
print(min_max_arr)

[[0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0]]

In [16]:
i=0
for c in col:
  min_max_arr[0][i]=df[c].min()
  min_max_arr[1][i]=df[c].max()
  min_max_arr[2][i]=c
  i=i+1
print(min_max_arr)

[[1, 1, 1, 1, 0, 1], [113, 100, 100, 120, 100, 101], ['Intelligence', 'Strength', 'Speed', 'Durability', 'Power', 'Combat']]

In [17]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df[col] = scaler.fit_transform(df[col])

In [18]:
df.head()

          Name Alignment  Intelligence  ...  Durability  Power  Combat
0      3-D Man      good      0.437500  ...    0.260504   0.25    0.51
1       A-Bomb      good      0.330357  ...    0.663866   0.17    0.63
2   Abe Sapien      good      0.776786  ...    0.344538   0.35    0.84
3     Abin Sur      good      0.437500  ...    0.529412   0.84    0.64
4  Abomination       bad      0.553571  ...    0.747899   0.55    0.94

[5 rows x 8 columns]

In [19]:
df.describe()

       Intelligence    Strength       Speed  Durability       Power      Combat
count    611.000000  611.000000  611.000000  611.000000  611.000000  611.000000
mean       0.388415    0.283671    0.265718    0.343190    0.403126    0.422062
std        0.293971    0.329403    0.260204    0.307091    0.345399    0.332703
min        0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%        0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%        0.437500    0.090909    0.222222    0.260504    0.370000    0.490000
75%        0.660714    0.525253    0.414141    0.663866    0.670000    0.690000
max        1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

In [20]:
dff=pd.get_dummies(df[['Alignment']])
ddff=pd.concat([df,dff],axis=1)
ddff.drop('Alignment',axis='columns',inplace=True)

In [21]:
ddff.head()

          Name  Intelligence  ...  Alignment_good  Alignment_neutral
0      3-D Man      0.437500  ...               1                  0
1       A-Bomb      0.330357  ...               1                  0
2   Abe Sapien      0.776786  ...               1                  0
3     Abin Sur      0.437500  ...               1                  0
4  Abomination      0.553571  ...               0                  0

[5 rows x 10 columns]

In [22]:
from sklearn import linear_model, metrics
from sklearn.model_selection import train_test_split

X = ddff.drop("Name", axis=1)
y = ddff["Name"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)


from sklearn.linear_model import LogisticRegression

logmodel = LogisticRegression()
logmodel.fit(X_train, y_train)

predictions = logmodel.predict(X_test)

In [23]:
np.size(predictions)

184

In [24]:
predictions

array(['Zoom', 'Nova', 'Nova', 'Blue Beetle I', 'Luke Campbell', 'Nova',
       'Red Skull', 'Punisher', 'Kevin 11', 'Nova', 'Giganta', 'Darkseid',
       'Punisher', 'Blue Beetle I', 'Blue Beetle I', 'Darkseid',
       'Solomon Grundy', 'Blue Beetle I', 'Red Hood', 'Giganta',
       'Blue Beetle I', 'Nova', 'Darkseid', 'Red Skull', 'Blue Beetle I',
       'Rhino', 'Blue Beetle I', 'Luke Campbell', 'Luke Campbell', 'Nova',
       'Blue Beetle I', 'Nova', 'Mister Mxyzptlk', 'Luke Campbell',
       'Trickster', 'Nova', 'Luke Campbell', 'Nova', 'Darkseid',
       'General Zod', 'Punisher', 'Nova', 'Abraxas', 'Blue Beetle I',
       'Blue Beetle I', 'Nova', 'Nova', 'Blue Beetle I', 'Blue Beetle I',
       'Anti-Venom', 'General Zod', 'Blue Beetle I', 'Nova',
       'Blue Beetle I', 'Blue Beetle I', 'Blue Beetle I', 'Bizarro',
       'General Zod', 'Blue Beetle I', 'Red Skull', 'Luke Campbell',
       'Professor X', 'General Zod', 'Professor X', 'Luke Campbell',
       'Nova', 'Nova', 'Kevin 11', 'Blue Beetle I', 'Nova', 'Nova',
       'Rhino', 'Bane', 'Air-Walker', 'Luke Campbell', 'Luke Campbell',
       'Red Skull', 'Blue Beetle I', 'Blue Beetle I', 'Nova', 'Nova',
       'Mister Mxyzptlk', 'Nova', 'Nova', 'Nova', 'Blue Beetle I', 'Nova',
       'Punisher', 'Blue Beetle I', 'Nova', 'Apocalypse', 'Nova',
       'Blue Beetle I', 'Exodus', 'Nova', 'Blue Beetle I', 'Nova', 'Nova',
       'Nova', 'Nova', 'General Zod', 'Blue Beetle I', 'Rhino',
       'Luke Campbell', 'Nova', 'Nova', 'Thanos', 'Nova', 'Nova',
       'Nick Fury', 'Nova', 'Nova', 'Wyatt Wingfoot', 'Blue Beetle I',
       'Nova', 'Zoom', 'Blue Beetle I', 'Nightwing', 'Nova',
       'Blue Beetle I', 'Luke Campbell', 'Nova', 'Rhino', 'Nova', 'Nova',
       'Nova', 'Zoom', 'General Zod', 'Nova', 'Blue Beetle I',
       'Luke Campbell', 'Luke Campbell', 'Nick Fury', 'Nova',
       'Luke Campbell', 'Blue Beetle I', 'Blue Beetle I', 'Nightwing',
       'Blue Beetle I', 'Red Skull', 'Nova', 'Mister Mxyzptlk', 'Nova',
       'Nova', 'Blue Beetle I', 'Mister Mxyzptlk', 'Blue Beetle I',
       'Nova', 'Blue Beetle I', 'Nova', 'Abraxas', 'Luke Campbell',
       'Blue Beetle I', 'Nightwing', 'Nick Fury', 'Riddler', 'Giganta',
       'Nova', 'Blue Beetle I', 'Red Skull', 'Nova', 'Nova', 'Nova',
       'Nova', 'Nova', 'Blue Beetle I', 'Blue Beetle I', 'Nova',
       'Blue Beetle I', 'Nova', 'Mister Mxyzptlk', 'Blue Beetle I',
       'Nova', 'Nova', 'Luke Campbell', 'Nova', 'Blue Beetle I',
       'Blue Beetle I', 'Nova', 'Blue Beetle I', 'General Zod',
       'Red Skull', 'Blue Beetle I', 'Black Adam'], dtype=object)

In [25]:
X1 = ddff.drop("Name", axis=1)
y1 = ddff["Name"]
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=1)
logmodel1 = LogisticRegression()
logmodel1.fit(X_train, y_train)

#predictions = logmodel.predict(X_test)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
print(logmodel1.predict([[0.2,0.303030,0.1644,0.260504,0.25,0.544,0,2,0]]))

['Nova']

In [27]:
from sklearn.tree import DecisionTreeClassifier
dtree_model = DecisionTreeClassifier().fit(X_train, y_train)
dtree_predictions = dtree_model.predict(X_test)
print(dtree_predictions)

['Kevin 11' 'Silverclaw' 'Black Bolt' 'Adam Strange' 'Ammo' 'Archangel'
 'Giganta' 'Monica Dawson' 'Siren' 'Doc Samson' 'Green Goblin' 'Venom III'
 'Ronin' 'Adam Strange' 'Adam Strange' 'Apocalypse' 'Mister Freeze'
 'Adam Strange' 'Red Hood' 'Klaw' 'Adam Strange' 'Steel' 'Onslaught'
 'Brainiac' 'Adam Strange' 'Rhino' 'Adam Strange' 'Ammo' 'Ammo' 'Superman'
 'Adam Strange' 'Dazzler' 'Mystique' 'Ammo' 'Red Hood' 'Brainiac 5' 'Ammo'
 'Multiple Man' 'Sabretooth' 'Blackout' 'Forge' 'Lightning Lad' 'Abraxas'
 'Adam Strange' 'Adam Strange' 'Bumblebee' 'Snowbird' 'Adam Strange'
 'Adam Strange' 'Ghost Rider' 'Venom' 'Adam Strange' 'Northstar'
 'Adam Strange' 'Adam Strange' 'Adam Strange' 'Ghost Rider' 'Bizarro'
 'Adam Strange' 'Vulture' 'Ammo' 'Leech' 'Abraxas' 'Violet' 'Ammo'
 'Space Ghost' 'Abin Sur' 'Blizzard II' 'Adam Strange' 'Ymir'
 'Plastic Man' 'Arclight' 'Bane' 'Evilhawk' 'Ammo' 'Ammo' 'Goblin Queen'
 'Adam Strange' 'Adam Strange' 'Watcher' 'Moon Knight' 'Shocker'
 'Snowbird' 'Silver Surfer' 'Songbird' 'Adam Strange' 'Emma Frost'
 'Hawkeye II' 'Adam Strange' 'Ms Marvel' 'Swamp Thing' 'Big Barda'
 'Adam Strange' 'Maxima' 'Wasp' 'Adam Strange' 'Forge' 'Stargirl'
 'Sasquatch' 'Black Widow' 'Anti-Monitor' 'Adam Strange' 'Iron Monger'
 'Ammo' 'Hulk' 'Ymir' 'Molten Man' 'Black Panther' 'Isis' 'Archangel'
 'Green Arrow' 'Man-Wolf' 'Hit-Girl' 'Adam Strange' 'Sobek' 'Electro'
 'Adam Strange' 'Nightwing' 'Banshee' 'Adam Strange' 'Ammo' 'Hal Jordan'
 'Rhino' 'Emma Frost' 'Red Tornado' 'A-Bomb' 'Green Goblin' 'Venom'
 'Hawkgirl' 'Adam Strange' 'Ammo' 'Ammo' 'Banshee' 'Captain America'
 'Ammo' 'Adam Strange' 'Adam Strange' 'Domino' 'Adam Strange' 'Big Man'
 'Archangel' 'Kevin 11' 'Vision' 'Kilowog' 'Adam Strange' 'Mystique'
 'Adam Strange' 'Cloak' 'Adam Strange' 'Watcher' 'Abraxas' 'Ammo'
 'Adam Strange' 'Punisher' 'Nina Theroux' 'Mister Freeze' 'Green Goblin'
 'Hawk' 'Quill' 'Giganta' 'Meltdown' 'Big Barda' 'Beast Boy' 'Nova'
 'Black Widow' 'Adam Strange' 'Adam Strange' 'Medusa' 'Adam Strange'
 'Meltdown' 'Scarecrow' 'Adam Strange' 'Superman' 'Black Widow' 'Ammo'
 'Spider-Girl' 'Adam Strange' 'Adam Strange' 'Wonder Girl' 'Adam Strange'
 'Bizarro' 'Blackwing' 'Adam Strange' 'Tiger Shark']

In [28]:
print(y_test)

504             Siryn
407          Namorita
481    Scarlet Spider
100       Blaquesmith
425         Overtkill
            ...
388              Mogo
535    Superboy-Prime
315             Joker
568          Valkyrie
205               Ego
Name: Name, Length: 184, dtype: object

In [29]:
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test,dtree_predictions )

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1859: UserWarning: y_pred contains classes not in y_true
  warnings.warn('y_pred contains classes not in y_true')

0.0

In [30]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, predictions)
print(cm)
print(np.size(cm))

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
45369

In [31]:
from sklearn.metrics import precision_recall_fscore_support
a=precision_recall_fscore_support(y_test, predictions)
print(a)

(array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0.]), array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0.]), array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0.]), array([1., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1.,
       1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1.,
       1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1.,
       0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 1.,
       1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 0., 1., 0., 1., 0.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 0., 1., 1., 1., 0.]))

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [33]:
from sklearn.metrics import precision_score
precision_score(y_test, predictions,average=None)

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [34]:
def func(st):
  if(st=='good'):
    return(1)
  elif(st=='neutral'):
    return(0)
  else:
    return(-1)
df['Alignment']=df.apply(lambda row : func(row['Alignment']), axis = 1)

In [35]:
df.head()

          Name  Alignment  Intelligence  ...  Durability  Power  Combat
0      3-D Man          1      0.437500  ...    0.260504   0.25    0.51
1       A-Bomb          1      0.330357  ...    0.663866   0.17    0.63
2   Abe Sapien          1      0.776786  ...    0.344538   0.35    0.84
3     Abin Sur          1      0.437500  ...    0.529412   0.84    0.64
4  Abomination         -1      0.553571  ...    0.747899   0.55    0.94

[5 rows x 8 columns]

In [36]:
df.describe()

        Alignment  Intelligence    Strength  ...  Durability       Power      Combat
count  611.000000    611.000000  611.000000  ...  611.000000  611.000000  611.000000
mean     0.436989      0.388415    0.283671  ...    0.343190    0.403126    0.422062
std      0.887365      0.293971    0.329403  ...    0.307091    0.345399    0.332703
min     -1.000000      0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     -1.000000      0.000000    0.000000  ...    0.000000    0.000000    0.000000
50%      1.000000      0.437500    0.090909  ...    0.260504    0.370000    0.490000
75%      1.000000      0.660714    0.525253  ...    0.663866    0.670000    0.690000
max      1.000000      1.000000    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 7 columns]

In [38]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

                   precision    recall  f1-score   support

          3-D Man       0.00      0.00      0.00       1.0
       Abe Sapien       0.00      0.00      0.00       1.0
      Abomination       0.00      0.00      0.00       1.0
          Abraxas       0.00      0.00      0.00       0.0
        Agent  13       0.00      0.00      0.00       1.0
       Air-Walker       0.00      0.00      0.00       0.0
       Alan Scott       0.00      0.00      0.00       1.0
            Amazo       0.00      0.00      0.00       1.0
   Ando Masahashi       0.00      0.00      0.00       1.0
            Angel       0.00      0.00      0.00       1.0
        Annihilus       0.00      0.00      0.00       1.0
          Ant-Man       0.00      0.00      0.00       1.0
       Anti-Venom       0.00      0.00      0.00       0.0
       Apocalypse       0.00      0.00      0.00       0.0
         Aquababy       0.00      0.00      0.00       1.0
          Aqualad       0.00      0.00      0.00       1.0
          Aquaman       0.00      0.00      0.00       1.0
          Arachne       0.00      0.00      0.00       1.0
          Arsenal       0.00      0.00      0.00       1.0
           Aurora       0.00      0.00      0.00       1.0
             Bane       0.00      0.00      0.00       0.0
        Batgirl I       0.00      0.00      0.00       1.0
       Batgirl II       0.00      0.00      0.00       1.0
       Batgirl IV       0.00      0.00      0.00       1.0
       Batgirl VI       0.00      0.00      0.00       1.0
        Batman II       0.00      0.00      0.00       1.0
             Beak       0.00      0.00      0.00       1.0
            Beast       0.00      0.00      0.00       1.0
        Big Daddy       0.00      0.00      0.00       1.0
           Bishop       0.00      0.00      0.00       1.0
          Bizarro       0.00      0.00      0.00       0.0
     Black Abbott       0.00      0.00      0.00       1.0
       Black Adam       0.00      0.00      0.00       0.0
   Black Canary I       0.00      0.00      0.00       1.0
    Black Goliath       0.00      0.00      0.00       1.0
        Blackwulf       0.00      0.00      0.00       1.0
      Blaquesmith       0.00      0.00      0.00       1.0
       Blizzard I       0.00      0.00      0.00       1.0
             Blob       0.00      0.00      0.00       1.0
         Bloodaxe       0.00      0.00      0.00       1.0
      Bloodwraith       0.00      0.00      0.00       1.0
    Blue Beetle I       0.00      0.00      0.00       0.0
  Blue Beetle III       0.00      0.00      0.00       1.0
             Bolt       0.00      0.00      0.00       1.0
        Boom Boom       0.00      0.00      0.00       1.0
           Boomer       0.00      0.00      0.00       1.0
     Booster Gold       0.00      0.00      0.00       1.0
   Brother Voodoo       0.00      0.00      0.00       1.0
          Bushido       0.00      0.00      0.00       1.0
         Callisto       0.00      0.00      0.00       1.0
   Captain Marvel       0.00      0.00      0.00       1.0
Captain Marvel II       0.00      0.00      0.00       1.0
 Captain Universe       0.00      0.00      0.00       1.0
          Century       0.00      0.00      0.00       1.0
          Cerebra       0.00      0.00      0.00       1.0
     Chuck Norris       0.00      0.00      0.00       1.0
    Claire Bennet       0.00      0.00      0.00       1.0
     Colin Wagner       0.00      0.00      0.00       1.0
            Curse       0.00      0.00      0.00       1.0
           Cypher       0.00      0.00      0.00       1.0
           Dagger       0.00      0.00      0.00       1.0
     Danny Cooper       0.00      0.00      0.00       1.0
         Darkhawk       0.00      0.00      0.00       1.0
         Darkseid       0.00      0.00      0.00       0.0
         Darkside       0.00      0.00      0.00       1.0
         Deadpool       0.00      0.00      0.00       1.0
         Deadshot       0.00      0.00      0.00       1.0
         Deathlok       0.00      0.00      0.00       1.0
      Doctor Doom       0.00      0.00      0.00       1.0
     Doppelganger       0.00      0.00      0.00       1.0
     Dr Manhattan       0.00      0.00      0.00       1.0
            ERG-1       0.00      0.00      0.00       1.0
              Ego       0.00      0.00      0.00       1.0
      Elle Bishop       0.00      0.00      0.00       1.0
           Energy       0.00      0.00      0.00       1.0
           Exodus       0.00      0.00      0.00       0.0
    Fabian Cortez       0.00      0.00      0.00       1.0
         Firelord       0.00      0.00      0.00       1.0
            Fixer       0.00      0.00      0.00       1.0
     Flash Gordon       0.00      0.00      0.00       1.0
           Frenzy       0.00      0.00      0.00       1.0
           Frigga       0.00      0.00      0.00       1.0
        Gary Bell       0.00      0.00      0.00       1.0
      General Zod       0.00      0.00      0.00       0.0
        Giant-Man       0.00      0.00      0.00       1.0
          Giganta       0.00      0.00      0.00       0.0
       Goliath IV       0.00      0.00      0.00       1.0
  Granny Goodness       0.00      0.00      0.00       1.0
          Gravity       0.00      0.00      0.00       1.0
  Green Goblin II       0.00      0.00      0.00       1.0
            Groot       0.00      0.00      0.00       1.0
          Hancock       0.00      0.00      0.00       1.0
     Harley Quinn       0.00      0.00      0.00       1.0
            Havok       0.00      0.00      0.00       1.0
          Hawkeye       0.00      0.00      0.00       1.0
          Hawkman       0.00      0.00      0.00       1.0
          Hellboy       0.00      0.00      0.00       1.0
          Hellcat       0.00      0.00      0.00       1.0
    Hiro Nakamura       0.00      0.00      0.00       1.0
     Hope Summers       0.00      0.00      0.00       1.0
         Huntress       0.00      0.00      0.00       1.0
          Impulse       0.00      0.00      0.00       1.0
              Ink       0.00      0.00      0.00       1.0
   Jack of Hearts       0.00      0.00      0.00       1.0
  Jessica Sanders       0.00      0.00      0.00       1.0
    Johann Krauss       0.00      0.00      0.00       1.0
     John Stewart       0.00      0.00      0.00       1.0
      John Wraith       0.00      0.00      0.00       1.0
            Joker       0.00      0.00      0.00       1.0
       Juggernaut       0.00      0.00      0.00       1.0
         Junkpile       0.00      0.00      0.00       1.0
             Kang       0.00      0.00      0.00       1.0
         Kevin 11       0.00      0.00      0.00       0.0
         Kick-Ass       0.00      0.00      0.00       1.0
      Killer Croc       0.00      0.00      0.00       1.0
          Kingpin       0.00      0.00      0.00       1.0
        Kraven II       0.00      0.00      0.00       1.0
    Lady Bullseye       0.00      0.00      0.00       1.0
 Lady Deathstrike       0.00      0.00      0.00       1.0
           Leader       0.00      0.00      0.00       1.0
   Lightning Lord       0.00      0.00      0.00       1.0
     Living Brain       0.00      0.00      0.00       1.0
           Lizard       0.00      0.00      0.00       1.0
             Lobo       0.00      0.00      0.00       1.0
             Loki       0.00      0.00      0.00       1.0
         Longshot       0.00      0.00      0.00       1.0
    Luke Campbell       0.00      0.00      0.00       0.0
          Mach-IV       0.00      0.00      0.00       1.0
          Magneto       0.00      0.00      0.00       1.0
            Magog       0.00      0.00      0.00       1.0
         Mandarin       0.00      0.00      0.00       1.0
Martian Manhunter       0.00      0.00      0.00       1.0
     Master Brood       0.00      0.00      0.00       1.0
            Match       0.00      0.00      0.00       1.0
         Maverick       0.00      0.00      0.00       1.0
       Metamorpho       0.00      0.00      0.00       1.0
        Meteorite       0.00      0.00      0.00       1.0
     Minna Murray       0.00      0.00      0.00       1.0
           Misfit       0.00      0.00      0.00       1.0
  Mister Mxyzptlk       0.00      0.00      0.00       0.0
  Mister Sinister       0.00      0.00      0.00       1.0
             Mogo       0.00      0.00      0.00       1.0
           Moloch       0.00      0.00      0.00       1.0
           Morlun       0.00      0.00      0.00       1.0
     Moses Magnum       0.00      0.00      0.00       1.0
       Mysterio I       0.00      0.00      0.00       1.0
         Namorita       0.00      0.00      0.00       1.0
        Nick Fury       0.00      0.00      0.00       0.0
        Nightwing       0.00      0.00      0.00       0.0
      Nite Owl II       0.00      0.00      0.00       1.0
             Nova       0.00      0.00      0.00       0.0
       Omniscient       0.00      0.00      0.00       1.0
           Osiris       0.00      0.00      0.00       1.0
        Overtkill       0.00      0.00      0.00       1.0
          Penance       0.00      0.00      0.00       1.0
        Penance I       0.00      0.00      0.00       1.0
     Phantom Girl       0.00      0.00      0.00       1.0
      Professor X       0.00      0.00      0.00       0.0
     Proto-Goblin       0.00      0.00      0.00       1.0
         Psylocke       0.00      0.00      0.00       1.0
         Punisher       0.00      0.00      0.00       0.0
             Pyro       0.00      0.00      0.00       1.0
     Ra's Al Ghul       0.00      0.00      0.00       1.0
    Rachel Pirzad       0.00      0.00      0.00       1.0
         Red Hood       0.00      0.00      0.00       0.0
        Red Skull       0.00      0.00      0.00       0.0
      Redeemer II       0.00      0.00      0.00       1.0
            Rhino       0.00      0.00      0.00       0.0
        Rick Flag       0.00      0.00      0.00       1.0
          Riddler       0.00      0.00      0.00       0.0
   Rocket Raccoon       0.00      0.00      0.00       1.0
   Scarlet Spider       0.00      0.00      0.00       1.0
Scarlet Spider II       0.00      0.00      0.00       1.0
          Scorpia       0.00      0.00      0.00       1.0
        Shadowcat       0.00      0.00      0.00       1.0
        Shang-Chi       0.00      0.00      0.00       1.0
      Shatterstar       0.00      0.00      0.00       1.0
         She-Hulk       0.00      0.00      0.00       1.0
              Sif       0.00      0.00      0.00       1.0
         Sinestro       0.00      0.00      0.00       1.0
            Siryn       0.00      0.00      0.00       1.0
   Solomon Grundy       0.00      0.00      0.00       0.0
   Spider-Carnage       0.00      0.00      0.00       1.0
       Spider-Man       0.00      0.00      0.00       1.0
     Spider-Woman       0.00      0.00      0.00       1.0
 Spider-Woman III       0.00      0.00      0.00       1.0
        Spiderman       0.00      0.00      0.00       1.0
         Stardust       0.00      0.00      0.00       1.0
         Superboy       0.00      0.00      0.00       1.0
   Superboy-Prime       0.00      0.00      0.00       1.0
        Supergirl       0.00      0.00      0.00       1.0
           Thanos       0.00      0.00      0.00       0.0
         The Cape       0.00      0.00      0.00       1.0
     The Comedian       0.00      0.00      0.00       1.0
            Thing       0.00      0.00      0.00       1.0
             Thor       0.00      0.00      0.00       1.0
  Thunderbird III       0.00      0.00      0.00       1.0
        Trickster       0.00      0.00      0.00       0.0
           Ultron       0.00      0.00      0.00       1.0
      Utgard-Loki       0.00      0.00      0.00       1.0
         Vagabond       0.00      0.00      0.00       1.0
         Valkyrie       0.00      0.00      0.00       1.0
         Vanisher       0.00      0.00      0.00       1.0
         Venom II       0.00      0.00      0.00       1.0
        Vision II       0.00      0.00      0.00       1.0
          Warbird       0.00      0.00      0.00       1.0
         Wildfire       0.00      0.00      0.00       1.0
        Wolfsbane       0.00      0.00      0.00       1.0
   Wyatt Wingfoot       0.00      0.00      0.00       0.0
             X-23       0.00      0.00      0.00       1.0
            X-Man       0.00      0.00      0.00       1.0
      Yellow Claw       0.00      0.00      0.00       1.0
             Zoom       0.00      0.00      0.00       0.0

         accuracy                           0.00     184.0
        macro avg       0.00      0.00      0.00     184.0
     weighted avg       0.00      0.00      0.00     184.0

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))